@page "/add-invoice-line/{InvoiceId}"
@layout MainLayout
@inherits TlaxRatio.Server.Pages.AddInvoiceLineComponent

@using Radzen
@using Radzen.Blazor
@using TlaxRatio.Models.SimpleInvoice
@using Microsoft.AspNetCore.Identity;
@using TlaxRatio.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Data="@invoiceline" TItem="TlaxRatio.Models.SimpleInvoice.InvoiceLine" Visible="@(invoiceline != null)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="ProductId" style="width: 100%" Text="Product">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDownDataGrid Data="@getProductsForProductIdResult" Placeholder="Choose Product" ShowSearch="false" style="width: 100%" TextProperty="Name" @bind-Value="@(invoiceline.ProductId)" ValueProperty="ProductId" Name="ProductId" Change="@ProductIdChange">
                </RadzenDropDownDataGrid>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Qty" style="width: 100%" Text="Qty">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="display: block; width: 100%" @bind-Value="@(invoiceline.Qty)" TValue="double" Name="Qty" Change="@QtyChange">
                </RadzenNumeric>
                <RadzenRequiredValidator Component="Qty" style="position: absolute" Text="Qty is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="UnitPrice" style="width: 100%" Text="Unit Price">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="display: block; width: 100%" @bind-Value="@(invoiceline.UnitPrice)" TValue="double" Name="UnitPrice" Change="@UnitPriceChange">
                </RadzenNumeric>
                <RadzenRequiredValidator Component="UnitPrice" style="position: absolute" Text="UnitPrice is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Total" style="width: 100%" Text="Total">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric Disabled="true" style="display: block; width: 100%" @bind-Value="@(invoiceline.Total)" Name="Total">
                </RadzenNumeric>
                <RadzenRequiredValidator Component="Total" style="position: absolute" Text="Total is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Save">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="Cancel" Click="@BtnCancelClick">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
