@page "/edit-invoice-line/{InvoiceLineId}"
@layout MainLayout
@inherits TlaxRatio.Server.Pages.EditInvoiceLineComponent

@using Radzen
@using Radzen.Blazor
@using TlaxRatio.Models.RatioModels
@using Microsoft.AspNetCore.Identity;
@using TlaxRatio.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm TItem="InvoiceLine" Data="@invoiceline" Visible="@(invoiceline != null)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Invoice" Component="InvoiceId" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDownDataGrid Data="@getInvoicesForInvoiceIdResult" TextProperty="InvoiceNumber" ValueProperty="InvoiceId" Placeholder="Choose Invoice" ShowSearch="false" style="display: block; width: 100%" @bind-Value="@(invoiceline.InvoiceId)" Name="InvoiceId">
                </RadzenDropDownDataGrid>
                <RadzenRequiredValidator Component="InvoiceId" Text="InvoiceId is required" style="position: absolute" DefaultValue="0">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Product" Component="ProductId" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDownDataGrid Data="@getProductsForProductIdResult" TextProperty="Name" ValueProperty="ProductId" Placeholder="Choose Product" ShowSearch="false" style="width: 100%" @bind-Value="@(invoiceline.ProductId)" Name="ProductId">
                </RadzenDropDownDataGrid>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Qty" Component="Qty" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="display: block; width: 100%" @bind-Value="@(invoiceline.Qty)" Name="Qty">
                </RadzenNumeric>
                <RadzenRequiredValidator Component="Qty" Text="Qty is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Unit Price" Component="UnitPrice" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="display: block; width: 100%" @bind-Value="@(invoiceline.UnitPrice)" Name="UnitPrice">
                </RadzenNumeric>
                <RadzenRequiredValidator Component="UnitPrice" Text="UnitPrice is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Total" Component="Total" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="display: block; width: 100%" @bind-Value="@(invoiceline.Total)" Name="Total">
                </RadzenNumeric>
                <RadzenRequiredValidator Component="Total" Text="Total is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
