@page "/invoice-lines"
@layout MainLayout
@inherits TlaxRatio.Server.Pages.InvoiceLinesComponent

@using Radzen
@using Radzen.Blazor
@using TlaxRatio.Models.RatioModels
@using Microsoft.AspNetCore.Identity;
@using TlaxRatio.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Invoice Lines">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenSplitButton Icon="get_app" style="margin-left: 10px; margin-bottom: 10px" Text="Export" Click="@Splitbutton0Click">
          <ChildContent>
            <RadzenSplitButtonItem Text="Excel" Value="xlsx">
            </RadzenSplitButtonItem>
            <RadzenSplitButtonItem Text="CSV" Value="csv">
            </RadzenSplitButtonItem>
          </ChildContent>
        </RadzenSplitButton>
        <RadzenTextBox Placeholder="Search ..." style="display: block; margin-bottom: 10px; width: 100%" Name="Textbox0" @oninput="@(async(args) => {search = $"{args.Value}";await grid0.GoToPage(0);await Load();})">
        </RadzenTextBox>
        <RadzenGrid @ref="grid0" AllowFiltering="true" FilterMode="FilterMode.Advanced" AllowPaging="true" AllowSorting="true" Data="@getInvoiceLinesResult" TItem="InvoiceLine" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenGridColumn TItem="InvoiceLine" Property="InvoiceLineId" Title="Invoice Line Id">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="InvoiceLine" Property="InvoiceId" SortProperty="Invoice.InvoiceNumber" FilterProperty="Invoice.InvoiceNumber" Title="Invoice">
              <Template Context="data">
              @(data.Invoice?.InvoiceNumber)
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="InvoiceLine" Property="ProductId" SortProperty="Product.Name" FilterProperty="Product.Name" Title="Product">
              <Template Context="data">
              @(data.Product?.Name)
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="InvoiceLine" Property="Qty" Title="Qty">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="InvoiceLine" Property="UnitPrice" Title="Unit Price">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="InvoiceLine" Property="Total" Title="Total">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="InvoiceLine" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
              <Template Context="TlaxRatioModelsSimpleInvoiceInvoiceLine">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, TlaxRatioModelsSimpleInvoiceInvoiceLine))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
