@page "/profile"
@layout MainLayout
@inherits TlaxRatio.Server.Pages.ProfileComponent

@using Radzen
@using Radzen.Blazor
@using TlaxRatio.Models.SimpleInvoice
@using Microsoft.AspNetCore.Identity;
@using TlaxRatio.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Change Password">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Data="@(user)" TItem="ApplicationUser" Visible="@(user != null)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="UserName" Text="UserName">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox Disabled="true" style="width: 100%" @bind-Value="@(Security.User.UserName)" Name="UserName">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="OldPassword" style="width: 100%" Text="Old Password">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenPassword style="display: block; width: 100%" @bind-Value="@OldPassword" Name="OldPassword">
                </RadzenPassword>
                <RadzenRequiredValidator Component="OldPassword" style="position: absolute" Text="Old Password is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="NewPassword" style="width: 100%" Text="New Password">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenPassword style="display: block; width: 100%" @bind-Value="@NewPassword" Name="NewPassword">
                </RadzenPassword>
                <RadzenRequiredValidator Component="NewPassword" style="position: absolute" Text="Password is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="ConfirmPassword" style="width: 100%" Text="Confirm password">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenPassword style="display: block; width: 100%" @bind-Value="@ConfirmPassword" Name="ConfirmPassword">
                </RadzenPassword>
                <RadzenRequiredValidator Component="ConfirmPassword" style="position: absolute" Text="ConfirmPassword is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Disabled="@(Security.User.UserName == "administrator")" Icon="save" Text="Change password">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Click="@BtnCancelClick">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
